@import url('https://fonts.googleapis.com/css2?family=Diplomata+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anek+Latin&display=swap');   

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-light: #ffebee;
    --secondary-light: #b0bec5;
    --grey-color: #455a64;
    --primary-dark: #263238;
    --secondary-dark: #37474f;;

}

body {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
}

/* Header */
.header {
    background-color: var(--primary-dark);
    max-width: 100%;
    height: 120px;
    margin: 0 0 40px;
}

.header-title {
    display: flex;
    justify-content: center;
    font-family:'Diplomata SC', cursive;
    font-size: 2.5rem;
    font-weight: 200;
    text-align: center;
    color: var(--primary-light);
    padding: 40px 0;
}

/* Main */ 
.main {
    font-family: 'Anek Latin', sans-serif;
}

.score-display {
    margin: 0 0 15px;
}

.score-info {
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    line-height: 1.6;
    letter-spacing: 2px;
}

.score-message {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
}

.score-container {
    /* border: red solid 2px; */
    max-width: 400px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: 0 auto;
    
}

.score-box {
    /* border: blue solid 2px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 220px;
}

.score-info {
    font-size: 2rem;
}

.score-message {
    font-weight: normal;
}

.score {
    font-size: 22px;
    font-weight:600;
    text-align: center;
    margin: 10px;
}

.button {
    /* border: green 2px solid; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.btn:hover {
    background-color: var(--secondary-light);
    border: 1px solid var(--secondary-light);
}
.btn-square {
    width: 160px;
    height: 160px;
    cursor: pointer;
    background-color: var(--grey-color);
    border-radius: 10px;
    border: none;
}

.fa-x {
    font-size: 8rem;
    text-align: center;
}

.sign {
    font-size: 7rem;
}


/* Footer */
.footer {
    font-family: 'Anek Latin', sans-serif;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.footer-info {
    padding: 10px;
}

/* Modal */
.modal {
    font-family: 'Anek Latin', sans-serif;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    width: 300px;
    padding: 30px;
    border-radius: 10px;
    background-color: var(--primary-dark);
    text-align: center;
    font-size: 30px;
    user-select: none;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
  }

.modal.active {
    transform: translate(-50%, -50%) scale(1);
  }

  .modal-title {
    font-size: 40px;
    font-weight: bold;
  }

  .modal .btn {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    font-size: 1.7rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }

  .modal .btn:hover {
    background-color: var(--grey-color);
  }
  
  .btn-restart {
    padding: 10px 20px;
    margin-top: 25px;
    margin-bottom: 15px;
  }
  
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.6;
  }
  
  .overlay.active {
    display: block;
  }



/* Mobile */
@media(max-width: 768px) { 
    .header-title {
        font-size: 1.5rem;
        font-weight: lighter;
    }

    .score-box {
        width: 140px;
        height: 170px;
    }

    .fa-x {
        font-size: 7rem;
    }

    .button {
        padding: 15px;
        gap: 10px;
    }

    .btn {
        background: none;
        box-shadow: none;
        border: none;
    }

    .btn-square {
        width: 120px;
        height: 120px;
        background-color: var(--primary-dark);
    }

    .sign {
        font-size: 4rem;
    }

    .footer {
        margin-top: 190px;
    }
}